streamlit==1.52.2

# PDF
pymupdf==1.26.7
pdfplumber==0.11.8

# spaCy (pin to avoid ABI issues)
numpy==2.3.5
spacy==3.8.11
thinc==8.3.10
blis==1.3.3

# Model package (must be installed as a wheel)
en-core-web-sm==3.8.0
